.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    row-gap: 10px;
}

.input {
    width: 400px;
    height: 20px;
}

.btn {
    height: 60px;
    width: 410px;
    font-size: 20px;
}

.LogInList {
    display: flex;
    list-style: none;
    column-gap: 20px;
    padding: 0;
}
