.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    row-gap: 10px;
}

.input {
    width: 400px;
    height: 20px;
}

.btn {
    height: 60px;
    width: 410px;
    font-size: 20px;
}

.LogInList {
    display: flex;
    list-style: none;
    column-gap: 20px;
    padding: 0;
}

.task {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background: rgb(239, 250, 246);
    border-radius: 20px;
    align-items: center;
}

.tasks {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    row-gap: 10px;
}

.btnUtilits {
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 10px;
}

.btnUtilits:nth-child(2) {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnUtilitsImage {
    width: 40px;
    height: 38px;
}

.utilit {
    display: flex; 
    column-gap: 10px;
}

.tasksInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskAddBtn {
    width: 50px;
    height: 50px;
    font-size: 30px;
}

.taskBtnList{
    width: 200px;
    height: 50px;
    font-size: 28px;
}